body{
	background-image: url("../images/fondo.jpg");
	background-repeat: no-repeat;
	background-size: %100 auto;
	background-attachment: fixed;
	background-position:top center;
}

table th {
background-color:#B8C6D8;
color:#000000;
font-family:Arial;
font-size:14pt;
text-align:center;
}
.renglon_verde_alto{
background-color:#146A2D;
color:#FFFFFF;
font-family:Arial;
font-size:10pt;
text-align:center;
}
.renglon_over {
	background-color:#CBD028;
	color:#000000;
	font-family: Arial;
	font-size: 10pt;
	text-align: center;
}
.renglon_verde_bajo{
background-color:#30A646;
color:#FFFFFF;
font-family:Arial;
font-size:10Pt;
text-align:center;
}
.menu {
border:1px solid #000000;
background-color:#F7EC3C;
}

.menu th {
background-color:#F7EC3C;
border:1px solid #000000;
padding:3px;
}
.menu th a{
background-color:#F7EC3C;
color:#000000;
font-family:Verdana;
font-size:16Pt;
text-align:center;
}

.menu th a:link, a:visited {
	color:#000000;
	font-family: Verdana;
	font-size:16pt;
	font-align:center;
	text-decoration: none;
}

.menu th a:hover{
	text-decoration: underline;
	background-color: #FFFFFF;
	display:block;
}
