body
{
	background-image: url("../images/bg.jpg");
	/*background-repeat: no-repeat;*/
	/*background-size: 100% auto;*/
}

form label
{
	color:#FFFFFF;
}

table
{
	text-align:center;
}

table caption h2
{
	color:#FFFFFF;
}

table th 
{
	background-color:#B8C6D8;
	color:#000000;
	font-family:Arial;
	font-size:14pt;
}

.renglon_verde_alto
{
	background-color:#146A2D;
	color:#FFFFFF;
	font-family:Arial;
	font-size:10pt;
}

.renglon_verde_bajo
{
	background-color:#30A646;
	color:#FFFFFF;
	font-family:Arial;
	font-size:10pt;
}

.renglon_over
{
	background-color:#CBD028;
	color:#000000;
	font-family:Arial;
	font-size:10pt;
	text-align:center;
}

.menu
{
	border:1px solid #000000;
}

.menu th
{
	border:1px solid #000000;
	background-color:#F7EC3C;
	padding:3px;
}

.menu th a
{
	color:#000000;
	font-family:Verdana;
	font-size:16pt;
	text-align:center;
}

.menu th a:link, a:visited
{
	color:#000000;
	font-family:Verdana;
	font-size:16pt;
	text-align:center;
	text-decoration:none;
}

.menu th a:hover
{
	text-decoration:underline;
	background-color:#FFFFFF;
	display: block;
}