.inicio{
     text-align: center;
	 display: block;
	 border-radius: 100px;
	 border:1px solid #000000;
	 width: 300px;
	 height: 300px;
}
.texto{
	border-radius: 10px;
	padding-right: 10px;
	padding-left: 10px;
	font-family: candara;
}
h3 {
	color: green;
}
.obligatorio{
	color: red;
	font-size: 15px;
}
.tit{
	color: red;
	
	font-size: 15px;
}